{% extends "layout.html" %}
{% block content %}
<style type="text/css">
        body{
            background-color: black;
            color: green;
        }
        .start {
        	background-color: black;
        }
    </style>
    <br><br><br><br><br>
<div class="\start">
    <div class="typewriter">
    <h1>Image Security</h1>
    <br>
    <p >Welcome to Image Encrypter. Encrypt your image in the encrypt tab and decrypt it on the decryption tab.
    </p> 
    </div><!--class ="lead"-->
    
</div>
	<br><br><br><br><br>
{% endblock %}